<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{docente/administrar :: layout (~{::title}, ~{::section})}">

<title th:text="#{curso.alumnos.title}">Administrar Alumnos</title>

<section>

  <div class="breadcrum">
    <a class="breadcrum-item"
       th:href="@{'/docente/cursos'}"
       th:text="#{nav.cursos}">Cursos</a>
    <span>/</span>
    <a class="breadcrum-item"
       th:href="@{'/docente/cursos/'+${idCurso}+'/alumnos'}"
       th:text="#{nav.alumnos}">Alumnos</a>
    <span>/</span>
    <a class="breadcrum-item"
       th:href="@{'/docente/cursos/'+${idCurso}+'/matricular'}"
       th:text="#{nav.matricular}">Alumnos</a>
  </div>

  <h2 class="section-title" th:text="#{curso.alumnos.matricular}">Matricular Nuevo Alumno</h2>


  <th:block th:replace="~{utils/link-volver-atras ::
      volverAtras('/docente/cursos/'+${idCurso}+'/alumnos')}" />

  <form th:action="@{'/docente/cursos/' + ${idCurso} + '/matricular'}"
        th:object="${alumnoForm}"
        method="post"
        class="form-card">


    <div class="form-group">
      <label for="documento" th:text="#{register.document}">Documento</label>
      <input type="text" th:field="*{documento}" required/>
      <span class="red" th:if="${#fields.hasErrors('documento')}" th:errors="*{documento}"></span>
    </div>


    <th:block th:replace="~{utils/button-guardar :: btn-guardar}" />
    <th:block th:replace="~{utils/button-cancelar :: btn-cancelar('/docente/cursos/' + ${idCurso} + '/alumnos')}" />


  </form>
</section>
</html>